body {
	color: $white;
}
a {
	color: $pink;
}
.sidebar {
	.textwidget {
		text-align: center;
	}
}
.site-search {
	label {
		float: left;
	}
	.form-control {
		background-color: #000;
		color: $pink;
		border-color: $pink;
	}
	input::-webkit-input-placeholder {
		color: $pink;
	}
	.btn {
		background-color: #000;
		color: $pink;
		border-color: $pink;
	}
}
.pagination {
	float: right;
	z-index: 1000;
}
.yarpp-related {
	text-align: center;
}